$pattern: (
    "up" translateY(50px),
    "down" translateY(-50px),
    "left" translatex(50px),
    "right" translateX(-50px),
);

@each $key, $value in $pattern {
    .appear.#{$key} {
        & .item {
            transform: $value;
        }
    }
}



.appear {
    & .item {
        transition: all 0.8s;
        opacity: 0;
        display: none;
    }
    &.inview {
        & .item {
            opacity: 1;
            transform: none;
            display: inline;

            @for $i from 1 through 10 {
                &:nth-child(#{$i}) {
                    transition-delay: $i * 0.1s;
                }
            }
        }
    }
}