$cBlack: black;

.three-dot-spinner {
    text-align: center;

    & div {
        display: inline-block;
        width: 18px;
        height: 18px;
        background-color: $cBlack;
        border-radius: 50%;
        animation: sk-boucedlay 1.4s infinite;

        //nth-childの擬似要素に書き換えてみる。
        // &:nth-child(1) {
        //     animation-delay: -0.32s;
        // }
        // &:nth-child(2) {
        //     animation-delay: -0.16s;
        // }
        //for文で記述してみる。
        @for $i from 1 through 2 {
            &:nth-child(#{$i}) {
                animation-delay: -0.32s / $i;
            }
        }
    }

    // & .bounce1 {
    //     animation-delay: -0.32s;
    // }

    // & .bounce2 {
    //     animation-delay: -0.16s;
    // }

}

@keyframes sk-boucedlay {
    0% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
    80% {
        transform: scale(0);
    }
    100% {
        transform: scale(0);
    }
}